@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --cor-primaria: #45C4B0;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #012030;

    --fonte-principal: "JetBrains Mono", monospace;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-primaria);
}

.main-wrapper{
    background-color: var(--cor-terciaria);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.header-main{
    background-color: var(--cor-terciaria);
    width: 100%;
    padding: 2%;
}

.header-nav{
    display: flex;
    gap: 4rem;
    padding: 1%;
    top: 0;

}
.header-nav-link{
    color: var(--cor-secundaria);
    font-size: 1.3rem;
    font-weight: 600;
}
.conteudo-main-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
    margin: 1%;
}
.titulo-conteudo-main{
    color: var(--cor-secundaria);
    padding: 2%;
    width: 40.5rem;
    height: 23.75rem;
    font-size: 3.2rem;
    text-align: center;
    letter-spacing: 0.5rem;
}
.img-conteudo-main{
    padding: 2%;
    width: 29rem;
    height: 25rem;
}

a.header-nav-link:hover{
    color: var(--cor-primaria)
}
span{
    color: var(--cor-primaria);
}

.div-curve{
    width: 100%;
    height: 5rem;
    background-color: var(--cor-terciaria);
    border-bottom-right-radius: 100rem;
    border-bottom-left-radius: 100rem;
}

@media (max-width: 920px){
    *{
        font-weight: 400;
    }
    .conteudo-main-wrapper {
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .header-nav{
        justify-content: center;
        gap: 2.5rem;
        font-size: 1.1rem;
    }
  }